body {
    margin: 0;
    padding: 0;
    z-index: 101;
}
.container {
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    background-color: #042a45;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.music-player {
    width: 400px;
    height: 600px;
    background-color: rgb(13, 51, 78);
    border-radius: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.artist-img-bg {
    width: 100%;
    height: 300px;
    filter:blur(5px);
    -webkit-filter: blur(5px);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.artist-image {
    margin-top: 20px ;
    max-height: 300px;
    width: 200px;height: 200px;max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #154275;
    position: absolute;
    z-index: 999;

}
.rotate-image {
    animation:rotate 100s infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(365deg);
    }
}

.controls {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 1em;display: flex;
    justify-content:space-around;
}
.icon {
    color:aliceblue;
    font-size: 1.5em !important;
}
.song-title-container {
    position: relative;
    
    overflow: hidden;
    width: 90%;
    margin: 10px auto 0;
}
.song-title {
    margin: 10px 0 15px;text-align: center;
    color: #ffffff;
    font-weight: 700;animation: song_title 10s infinite ease-in-out;
    animation-timing-function: linear;
    position: relative;
}
@keyframes song_title {
   from {
       left:50%;
   } to {
       left:-100%;
   }
}
#timer, #song-list .header, #song-list .description {
    color: white;
}
#song-list {
    width: 90%;
    background-color: #16415f;
    border-radius: 1em;
}
#song-list .item {
    cursor: pointer;
    padding: 10px;
    position: relative;
}
.item.active {
    background-color: #38596e;
    box-shadow: 0px 2px 10px #07141d;
}
.list-image {
    position: relative;
    display: inline;
}
/* .content {
    position: relative;
} */
.content .icon {
    position: absolute;
    left: 20px;
    top: 20px;
    visibility: hidden;
}
#song-list .avatar {
    width: 3em;
    height: 3em;
}
#song-list .item:hover {
    background-color: #3a5a6f;
}

#equalizer {
    position: absolute;
    right: 5px;top: 50%;transform: translateY(-50%);width: 40px;
    max-height: 20px;
    visibility: hidden;

display: flex;
justify-content: space-evenly;
}
#bar1, #bar2, #bar3, #bar4 {
    background-color: #1aa303;

    width: 2px;
}

#bar1 {
    animation: bar1 1.2s linear infinite;
}
#bar2 {
    animation: bar2 0.9s linear infinite;
}
#bar3 {
    animation: bar2 1.4s linear infinite;
}
#bar4 {
    animation: bar4 1s linear infinite;
}
@keyframes bar1 {
    0% {
        height: 5px;
      }
      50% {
        height: 10px;
      }
      100% {
        height: 5px;
      }
}@keyframes bar2 {
    0% {
        height: 10px;
      }
      50% {
        height: 5px;
      }
      100% {
        height: 10px;
      }
}
@keyframes bar3 {
    0% {
        height: 5px;
    }
    50% {
        height: 10px;
    }
    100% {
        height: 5px;
    }
}
@keyframes bar4 {
    0% {
        height: 10px;
    }
    50% {
        height:5px;
    }
    100% {
        height: 10px;
    }
}